<table border="1">
  <thead>
    <tr>
      <th>Diesel</th>
      <th>Petrol</th>
      <th>Oil</th>
      <th>Diesel_amount</th>
      <th>Petrol_amount</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <td><%=@reading.d%></td>
    <td><%=@reading.p%></td>
    <td><%=@reading.oil%></td>
    <td><%=@reading.total_diesel%></td>
    <td><%=@reading.total_petrol%></td>
    <td><%=@reading.total%></td>
    </tr>
  </tbody>

</table>
